<h1 class="acctTitle"><%= title %></h1>

<% if (messages && Object.keys(messages).length > 0) { %>
    <ul class="notice">
      <% Object.keys(messages).forEach(type => { %>
        <% messages[type].forEach(msg => { %>
          <li class="<%= type %>"><%= msg %></li>
        <% }) %>
      <% }) %>
    </ul>
<% } %>

<div class="form-frame">
  <form class="form" action="/account/update" method="POST">
    <label for="account_firstname">First Name:</label>
    <input type="text" name="account_firstname" id="account_firstname" required value="<%= accountData.account_firstname %>">

    <label for="account_lastname">Last Name:</label>
    <input type="text" name="account_lastname" id="account_lastname" required value="<%= accountData.account_lastname %>">

    <label for="account_email">Email:</label>
    <input type="email" name="account_email" id="account_email" required value="<%= accountData.account_email %>">

    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <button type="submit">Update Account</button>
  </form>
</div>